@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

$color-primary: #FFA500;
//$color-secondary: #f08a5d;
//$color-tertiary: #b83b5e; 
$color-text-dark: #000;
$color-text-light: #fff;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*Buttons*/

.button {
  background-color: $color-primary;
  color: $color-text-light;
  padding: 20px 40px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}

/*Header*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px;

  .mainNav {
    display: flex;

    a {
      color: $color-text-light;
      padding: 7px 20px;
      border-radius: 5px;

      &:hover {
        background-color: #707272;
      }
    }
  }

  .button {
    background-color: $color-primary;
  }
}

/*Home Banner*/
.homeBanner {
  margin-top: -144px;
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
  background-position: center left;

  h1 {
    font-size: 85px;
    line-height: 90px;
    color: $color-text-light;
    font-weight: 800;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
  }
  p{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 300;
    color: $color-text-light;
  }
}

/*Search Tab*/
.searchTab{
  background-color: $color-text-light;
  padding: 15px;
  max-width: 1240px;
  margin: 0 auto;
}